<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <repositoryPath>c:\Users\Andrius\.nuget\packages</repositoryPath>
  <config>
    <add key="repositoryPath" value="c:\Users\Andrius\.nuget\packages" />
  </config>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="false" />
  </solution>
  <packageSources>
    <clear />
    <add key="Feed" value="c:\Users\Andrius\.nuget\packages" />
    <add key="LocalFeed" value="C:\bin\packages" />

    <add key="cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />

    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />

    <add key="AspNetCore" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
    <add key="AspNetCore-ci-dev" value="https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json" />
    <add key="AspNetVNext.rel" value="https://www.myget.org/F/aspnetcirelease/api/v3/index.json" />

    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <!-- <add key="BuildFeed" value="Nupkgs" /> -->
    <add key="NuGetVolatile" value="https://dotnet.myget.org/F/nuget-volatile/api/v3/index.json" />
    <!-- 
    <add key="ShareFeed" value="\\192.168.1.14\Packages" />
    -->
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <disabledPackageSources>
    <add key="ShareFeed" value="true" />
    <add key="nuget.org" value="true" />
    <add key="WebStack Nightly Release" value="true" />
    <add key="AzureAd Nightly" value="true" />
  </disabledPackageSources>
</configuration>